$brown: #33241e;
$grey-blue: #1e2d33;
$green-light: #c6ebbe;
$turquoise-green: #a9dbb8;
$light-blue: #7ca5b8;

///////
$bistre: #33241eff;
$prussian-blue: #0c263eff;
$roman-silver: #7d8491ff;
$turquoise-green: #afe3c0ff;
$dark-sea-green: #90c290ff;

// 
$bistre: #33241eff;
$sepia: #663800ff;
$linen: #f3e9dcff;
$pine-green: #136f63ff;
$light-pine-green: rgb(30, 170, 152);
$light-sea-green: #22aaa1ff;

$primary: $brown;
// $sedondary: $blue;
// $sedondary: $light-blue;
$secondary: $prussian-blue;
$secondary: $sepia;
// $secondary: $grey-blue;