// Override default variables before the import

.form-box {
    max-width: 900px;
    margin: auto;
    box-shadow: 10px 5px 5px grey;
    // padding: 0.5em;
    div {
        padding-top: 0.5em;
    }
}

.logo-footer {
    max-width: 150px;
    height: auto;
    margin: auto;
}